#stylings{
   text-align: center;

}
#Changeme{
    text-align: center;
}
body{
    background-color: black;
    color:white;
}
.moveme{
    text-align: center;
}
#rytHere, #rytThere, #rytNow{
    color:white
}
#Status{
    color:white;
}
#Go{
    color:white;
}
p{
    color:white;
}
